extend ../layout

block content
  ul#activitiesList
    li
      a(href="/adminactivities/web")  web
    li
      a(href="/adminactivities/dtp") DTP
    li      
      a(href="/adminactivities/graphics") Graphics