extends layout

block content
  h2.portfolio Webdesign
  div.item
    div.picture
     img(src="images/photowin.png")
    div.desc
      h3 Photowin.cz
      p Sites for photographers from various fields. Contain also interface for uploading files to the server after signu up process.
      h4.first Start: 28
        span.superscript th
        span May, 2013
      h4 Finished: still in progress
      div.myPart 
        h5.first My part:
        p Code, design, structure planning
        h5 Technologies:
        p HTML 5, CSS 3, Cake PHP, Angularjs, MYSQL
    div.clearfix
            
  div.item
    div.picture
     img(src="images/chytrykup.png")
    div.desc
      h3 Chytrykup.cz
      p Eshop based on Prestashop open source solution.
      h4.first Start: 26
        span.superscript th
        span May, 2013
      h4 Finished: 10
        span.superscript th
        span June, 2013
      div.myPart 
        h5.first My part:
        p Code, design, structure planning
        h5 Technologies:
        p HTML 5, CSS 3, JQuery, Prestashop
    div.clearfix
        
  div.item
    div.picture
     img(src="images/sexshop.png")
    div.desc
      h3 SexShop.cz
      p Eshop based on Prestashop open source solution.
      h4.first Start: 26
        span.superscript th
        span May, 2013
      h4 Finished: Still in progress
      div.myPart 
        h5.first My part:
        p Code, design, structure planning 
        h5 Technologies:
        p HTML 5, CSS 3, JQuery, Prestashop
    div.clearfix 

  h2.portfolio Logotypes    
  div.item
    div.picture
     img(src="images/sexshoplogo.png")
    div.desc
      h3 SexShop.cz
      p Logotype for eshop
      h4.first Start: 26
        span.superscript th
        span May, 2013
      h4 Finished:   26
        span.superscript th
        span May, 2013
      div.myPart 
        h5.first My part:
        p design, drawing
        h5 Technologies:
        p Adobe Illustrator
    div.clearfix
    
  div.item
    div.picture
     img(src="images/borakLogo.png")
    div.desc
      h3 BorakPetr.cz
      p Logotype for my presentation
      h4.first Start: 1
        span.superscript st
        span May, 2013
      h4 Finished:   10
        span.superscript th
        span May, 2013
      div.myPart 
        h5.first My part:
        p design, drawing
        h5 Technologies:
        p Adobe Illustrator
    div.clearfix 
    
  div.item
    div.picture
     img(src="images/logo04.png")
    div.desc
      h3 ČRDM
      p Logotype for aniversary
      h4.first Start: 2008
      h4 Finished:   2008
      div.myPart 
        h5.first My part:
        p design, drawing
        h5 Technologies:
        p Adobe Illustrator
    div.clearfix
    
  div.item
    div.picture
     img(src="images/logo02.png")
    div.desc
      h3 RD ltd.
      p Logotype for RD ltd.
      h4.first Start: 2008
      h4 Finished:   2008
      div.myPart 
        h5.first My part:
        p design, drawing
        h5 Technologies:
        p Adobe Illustrator
    div.clearfix 
    
  div.item
    div.picture
     img(src="images/logo01.png")
    div.desc
      h3 Prague passport
      p Logotype for tourist guide
      h4.first Start: 2008
      h4 Finished:   2008
      div.myPart 
        h5.first My part:
        p design, drawing
        h5 Technologies:
        p Adobe Illustrator
    div.clearfix                         